<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [3]:
print("Hello, my name is nama anda")

Hello, my name is nama anda

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [6]:
kotak_kelereng = 4
isi_per_kotak = 15
jumlah_teman = 12

total_kelereng = kotak_kelereng * isi_per_kotak
kelereng_per_teman = total_kelereng // jumlah_teman

print("Setiap teman akan mendapat", kelereng_per_teman, "kelereng.")

hasil = 8 ** (1/3)
print("Hasil dari 8 pangkat 1/3 adalah", hasil)

uang = 50000
harga_per_paket = 7500

jumlah_paket = uang // harga_per_paket
kembalian = uang % harga_per_paket

print("Eillen dapat membeli", jumlah_paket, "paket kertas binder.")
print("Kembalian yang diterima adalah Rp", kembalian)

Setiap teman akan mendapat 5 kelereng.
Hasil dari 8 pangkat 1/3 adalah 2.0
Eillen dapat membeli 6 paket kertas binder.
Kembalian yang diterima adalah Rp 5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [9]:
string_num = "1000"
int_num = int(string_num)
print(int_num)  # Output: 1000

float_num = 5.25
int_num = int(float_num)
print(int_num)  # Output: 5

int_num = 5
float_num = float(int_num)
print(float_num)  # Output: 5.0

int_num = 1000
string_num = str(int_num)
print(string_num)  # Output: "1000"

1000
5
5.0
1000

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [10]:
quote = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = quote[20:31]  # Indeks 30 ikut
print(substring)  # Output: "to know wh"

words_list = quote.split(" ")
print(words_list)

reversed_quote = quote[::-1]
print(reversed_quote)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [12]:
# prompt: I. Tuple
# Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
# Cetaklah panjang tuple yang dibuat.
# Gunakan .index() untuk mengetahui posisi/index prodi ISB

Prodi = ("DKV", "Sistem Informasi", "Ilmu Komunikasi", "Akuntansi", "Manajemen", "ISB")

print(len(Prodi))

print(Prodi.index("ISB"))

6
5

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [13]:
# Daftar makanan yang mungkin ada
makanan = ["Pizza", "", "Sushi", "", "Burger", "Pasta"]

# Makanan baru untuk mengganti yang kosong
makanan_baru = "Salad"

# Mengganti makanan yang kosong dengan makanan baru
makanan = [makanan_baru if item == "" else item for item in makanan]

print(makanan)

['Pizza', 'Salad', 'Sushi', 'Salad', 'Burger', 'Pasta']

['Pizza', 'Salad', 'Sushi', 'Salad', 'Burger', 'Pasta']

['Pizza', 'Salad', 'Sushi', 'Salad', 'Burger', 'Pasta']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [14]:
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}
gabungan_set = set1.union(set2)
print(gabungan_set)
intersection = set1.intersection(set3)
tidak_intersection = len(intersection) == 0
print(tidak_intersection)  # Output: True
bagian_dari_set1 = set4.issubset(set1)
print(bagian_dari_set1)  # Output: True
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# Gabungkan set1 dan set2
gabungan_set = set1.union(set2)
print("Gabungan set1 dan set2:", gabungan_set)

# Memeriksa intersection set1 dan set3
intersection = set1.intersection(set3)
tidak_intersection = len(intersection) == 0
print("Set1 dan Set3 tidak mempunyai intersection:", tidak_intersection)

# Memeriksa apakah set4 adalah bagian dari set1
bagian_dari_set1 = set4.issubset(set1)
print("Set4 adalah bagian dari set1:", bagian_dari_set1)

{1, 2, 3, 4, 6, 8}
True
True
Gabungan set1 dan set2: {1, 2, 3, 4, 6, 8}
Set1 dan Set3 tidak mempunyai intersection: True
Set4 adalah bagian dari set1: True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [18]:
# Meminta input dari pengguna
penggunaan_kwh = float(input("Masukkan jumlah penggunaan listrik (kWh): "))

# Menentukan tarif dan total pembayaran
if penggunaan_kwh < 100:
    penggunaan_kwh = 100  # Minimum pembayaran adalah 100 kWh
    tarif_per_kwh = 1000
elif penggunaan_kwh < 1000:
    tarif_per_kwh = 1000
else:
    tarif_per_kwh = 2000

# Menghitung total pembayaran
total_pembayaran = penggunaan_kwh * tarif_per_kwh

# Jika penggunaan >= 1000 kWh, tambahkan 10% dari total pembayaran
if penggunaan_kwh >= 1000:
    total_pembayaran *= 1.1

# Menampilkan hasil
print(f"Total pembayaran untuk {penggunaan_kwh} kWh adalah: Rp {total_pembayaran:.2f}")

Masukkan jumlah penggunaan listrik (kWh): 100
Total pembayaran untuk 100.0 kWh adalah: Rp 100000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [19]:
# Meminta input dari pengguna
jumlah_peserta = int(input("Masukkan jumlah peserta: "))

# Memeriksa apakah jumlah peserta negatif
if jumlah_peserta < 0:
    print("Jumlah orang tidak bisa negatif!")
else:
    # Kapasitas angkot
    kapasitas_angkot = 10

    # Menghitung jumlah angkot yang diperlukan
    if jumlah_peserta == 0:
        jumlah_angkot = 0  # Tidak perlu angkot jika tidak ada peserta
    else:
        jumlah_angkot = (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot > 0 else 0)

    # Menampilkan hasil
    print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

Masukkan jumlah peserta: 100
Jumlah angkot yang diperlukan: 10

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [45]:
import numpy as np

# 1. Membuat 1D numpy array berisi nama-nama hari dalam satu minggu
hari = np.array([ "Kamis", "Jumat", "Minggu", "Rabu", "Sabtu", "Selasa", "Senin"])
print(hari)

['Kamis' 'Jumat' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [46]:
# 2
# Mengurutkan array sesuai abjad
hari_sorted = np.sort(hari)
print(hari_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [44]:
import random
# 3# Mengambil 1 hari secara acak
hari_acak = np.random.choice(hari_sorted)

# Mencetak hasil
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

Selamat hari Selasa adalah hari baikmu bulan ini!

In [33]:
# 4
#  Membuat matriks 3x4 berisi angka 1-6
matriks = np.array([[1, 2, 3, 4],
                    [5, 6, 7, 8],
                    [9, 10, 11, 12]])

# Mencetak shape dan dimensi array
print("Shape dari matriks:", matriks.shape)
print("Dimensi dari matriks:", matriks.ndim)

Shape dari matriks: (3, 4)
Dimensi dari matriks: 2

In [34]:
# 5
#  Mencetak elemen kolom ketiga dari matriks
kolom_ketiga = matriks[:, 2]
print("Elemen kolom ketiga:", kolom_ketiga)

Elemen kolom ketiga: [ 3  7 11]

In [35]:
# 6

# 4. Menggunakan reshape untuk mengubah matriks menjadi ukuran (2, 6)
matriks_reshape = matriks.reshape(2, 6)
print("Matriks setelah reshape (2, 6):")
print(matriks_reshape)

Matriks setelah reshape (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [49]:
# prompt: Pandas
# Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
# Buatlah Pandas Dataframe dari dictionary { "brand": "Ford", "model": "Mustang", "year": 1964 }

import pandas as pd

# 1. Membuat Pandas Series dari list
my_list = ["Information", "Systems", "for", "Business"]
my_series = pd.Series(my_list)
print("Pandas Series:")
print(my_series)

# 2. Membuat Pandas DataFrame dari dictionary
my_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
my_dataframe = pd.DataFrame([my_dict])
print("\nPandas DataFrame:")
(my_dataframe)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:

  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [7]:
# 3
import pandas as pd
url = 'https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv'
df = pd.read_csv(url)
(df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [17]:
# 4
unique_cities = df['State'].unique()
print("Kota-kota yang ada dalam dataset:", unique_cities)

Kota-kota yang ada dalam dataset: ['New York' 'California' 'Florida']

In [15]:
# 5
random_sample_df = df.sample(n=10, random_state=42)
print("\n5 row pertama dari dataset random:")
(random_sample_df.head())

5 row pertama dari dataset random:

    R&D Spend  Administration  Marketing Spend       State     Profit
13   91992.39       135495.07        252664.93  California  134307.35
39   38558.51        82982.09        174999.30  California   81005.76
30   61994.48       115641.28         91131.24     Florida   99937.59
45    1000.23       124153.04          1903.93    New York   64926.08
17   94657.16       145077.58        282574.31    New York  125370.37

In [51]:
# 6
print("\nInformasi DataFrame:")
(df.info())

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   transaction date                     414 non-null    float64
 1   house age                            414 non-null    float64
 2   distance to the nearest MRT station  414 non-null    float64
 3   number of convenience stores         414 non-null    int64
 4   latitude                             414 non-null    float64
 5   longitude                            414 non-null    float64
 6   house price of unit area             414 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 22.8 KB

In [13]:
# 7
california_data = df[df['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\nR&D Spend dan Marketing Spend dari kota California:")
(california_data)

R&D Spend dan Marketing Spend dari kota California:

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [19]:
# 8
missing_values = df.isnull().sum()
print("\nMissing value di setiap kolom:")
(missing_values)

Missing value di setiap kolom:

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [23]:
# 9
df_filtered = df[df['Profit'] >= 50000]
print("\nDataFrame setelah menghapus profit di bawah 50000:")
(df_filtered)

DataFrame setelah menghapus profit di bawah 50000:

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [22]:
# 10
df_sorted = df_filtered.sort_values(by='Marketing Spend', ascending=False)

print("\nDataFrame setelah menghapus profit di bawah 50000 dan diurutkan berdasarkan Marketing Spend:")
(df_sorted)

DataFrame setelah menghapus profit di bawah 50000 dan diurutkan berdasarkan Marketing Spend:

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [45]:
# 1
import pandas as pd

# 1. Mengimpor dataset ke dalam DataFrame
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
df = pd.read_csv(url)
(df)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [46]:
# 2
random_data = df.sample(n=10, random_state=42)
print("10 Data random dari dataset:")
(random_data)

10 Data random dari dataset:

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
358,359,2013.167,1.1,193.58450,6,24.96571,121.54089,45.1
350,351,2013.000,13.2,492.23130,5,24.96515,121.53737,42.3
373,374,2013.083,0.0,274.01440,1,24.97480,121.53059,52.2
399,400,2012.917,12.7,170.12890,1,24.97371,121.52984,37.3
369,370,2012.667,20.2,2185.12800,3,24.96322,121.51237,22.8
72,73,2013.583,32.5,424.54420,8,24.97587,121.53913,36.3
262,263,2012.917,15.9,289.32480,5,24.98203,121.54348,53.0
140,141,2013.250,16.2,289.32480,5,24.98203,121.54348,51.4
93,94,2012.917,31.9,1146.32900,0,24.94920,121.53076,16.1
70,71,2013.583,6.6,90.45606,9,24.97433,121.54310,59.0

In [47]:
# 3
print("\nInformasi deskriptif dari dataset:")
(df.describe())

Informasi deskriptif dari dataset:

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,207.500000,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,119.655756,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,1.000000,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,104.250000,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,207.500000,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,310.750000,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,414.000000,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [48]:
# 4
df = df.drop(columns=['No'])
df.columns = [
    'transaction date',
    'house age',
    'distance to the nearest MRT station',
    'number of convenience stores',
    'latitude',
    'longitude',
    'house price of unit area']

df.head()

,transaction date,house age,distance to the nearest MRT station,number of convenience stores,latitude,longitude,house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [49]:
# 5
missing_values = df.isnull().sum()
print("\nMissing values di setiap kolom:")

(missing_values)

Missing values di setiap kolom:

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64

## **Goodluck :)**